
@import url('https://fonts.googleapis.com/css?family=Architects Daughter');
@import url('https://fonts.googleapis.com/css?family=Atma');


#world{
  position: absolute;
  width:100%;
  height: 100%;
  /* background-image: url("libs/tumblr_81644723656ec621b103f47212b1173f_5b880f21_400.webp"); */
  background-image: url("libs/texture/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#gameoverInstructions{
  position:absolute;
  font-family:'Architects Daughter', sans-serif;
  font-weight:bold;
  font-size:120px;
  text-align:center;
  color:#ff00ff;
  opacity:1;
  left:50%;
  top:50%;
  width:100%;
  transform : translate(-50%,-100%);
  user-select: none;
  transition: all 500ms ease-in-out;
}


#dist{
  position:absolute;
  left:50%;
  top:50px;
  transform:translate(-50%,0%);
  user-select: none;  
}

.label{
  position:relative;
  font-family:'Atma', sans-serif;
  text-transform:uppercase;
  color:#ff00ff;
  font-size:20px;
  font-weight: bolder;
  letter-spacing:2px;
  text-align:center;
  margin-bottom:5px;
}


#distValue{
  position:relative;
  text-transform:uppercase;
  color:#ffffff;
  font-size:44px;
  font-family:'Architects Daughter';
  font-weight: bold;
  text-align:center;
}

#instructions{
  position:absolute;
  width:100%;
  bottom:0;
  margin: auto;
  margin-bottom:50px;
  font-family:'Architects Daughter', sans-serif;
  color:#000000;
  font-size:28px;
  font-weight: bold;
  letter-spacing:1px;
  text-transform: uppercase;
  text-align : center;
  user-select: none;
}
.lightInstructions {
  color:#dbe6e6;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(240, 29, 187);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #f355ac}

.button:active {
  background-color: #f87bd3ea;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.mainpage{
  position:absolute;
  font-family:'Architects Daughter', sans-serif;
  font-weight:bold;
  align-items: center;
  text-align:center;
  color:#ff00ff;
  left: 35%;
  top: 15%;
}

.bg-main{
    position: absolute;
    width:100%;
    height: 100%;
    /* background-image: url("libs/tumblr_81644723656ec621b103f47212b1173f_5b880f21_400.webp"); */
    background-image: url("libs/texture/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}